<h1>Listing authors</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
    </tr>
    <tr>
      <td><%= author.homepage %></td>
    </tr>
  <% end %>
</table>